@import "tailwindcss";

@plugin "tailwindcss-animate";

@config "../../../tailwind.config.ts";

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    .center-container {
        height: calc(100% - 40px - 30px);
    }
}
